/*

https://www.koderhq.com/tutorial/sass/mixin/

*/
body {
  box-sizing: border-box;
  margin: 0;
}

body h1, body h2, body h3, body h4, body h5, body h6, body a, body p, body i {
  text-rendering: optimizeLegibility;
  font-family: 'Roboto', sans-serif;
}

#index {
  border-bottom: 1px solid black;
  height: 69px;
}

#index ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
}

#index ul #logo {
  background: url("/img/3x3.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 10%;
  height: 59px;
  margin-top: 5px;
  margin-left: 1em;
}

@media (min-width: 600px) {
  #index ul #logo {
    width: 7%;
  }
}

@media (min-width: 1000px) {
  #index ul #logo {
    width: 5%;
  }
}

#index ul #buttons {
  margin-right: .25em;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  /*
    https://css-tricks.com/snippets/css/fluid-typography/
    font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
    */
  font-size: calc(16px + (36 - 16) * ((100vw - 300px) / (1600 - 300)));
}

#index ul #buttons a {
  margin-right: .75em;
  text-decoration: none;
  color: black;
}

#index ul #buttons i {
  border-right: 1px solid black;
  padding-right: 5px;
}

main h1 {
  color: black;
}

main h2 {
  color: gray;
}

main p {
  color: gray;
}

main #home .row {
  position: relative;
  border-bottom: 1px solid black;
}

main #home .row h1 {
  position: relative;
  color: white;
  background-image: linear-gradient(to right, black, transparent);
  opacity: 69%;
  /*
    https://css-tricks.com/snippets/css/fluid-typography/
    font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
    */
  font-size: calc(16px + (36 - 16) * ((100vw - 300px) / (1600 - 300)));
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-left: 10%;
}

main #home .row h4 {
  position: relative;
  color: black;
  background-image: linear-gradient(to right, yellow, transparent);
  padding-left: 10%;
  /*
    https://css-tricks.com/snippets/css/fluid-typography/
    font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
    */
  font-size: calc(10px + (22 - 10) * ((100vw - 300px) / (1600 - 300)));
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

main #home .row h5 {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  bottom: 2%;
  color: white;
  padding: .5em;
  text-align: center;
  border-top: 1px solid #8a8254;
  border-right: 1px solid #8a8254;
  border-bottom: 1px solid #8a8254;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: url("/img/background.jpeg");
  background-size: 101%;
  background-position: center;
  background-repeat: auto;
  width: 40%;
  height: auto;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  /*
    https://css-tricks.com/snippets/css/fluid-typography/
    font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
    */
  font-size: calc(10px + (22 - 10) * ((100vw - 300px) / (1600 - 300)));
}

main #home .row #right {
  right: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-left: 1px solid #8a8254;
  border-right: 0;
}

main #home .row #img1 {
  background: url("/img/img1.png");
  background-size: 125%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
}

@media (min-width: 450px) {
  main #home .row #img1 {
    background-size: 100%;
  }
}

@media (min-width: 1000px) {
  main #home .row #img1 {
    height: 450px;
  }
}

main #home .row #img2 {
  background: url("/img/img2.png");
  background-size: 125%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
}

@media (min-width: 450px) {
  main #home .row #img2 {
    background-size: 100%;
  }
}

@media (min-width: 1000px) {
  main #home .row #img2 {
    height: 450px;
  }
}

main #home .row #img3 {
  background: url("/img/img3.png");
  background-size: 125%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
}

@media (min-width: 450px) {
  main #home .row #img3 {
    background-size: 100%;
  }
}

@media (min-width: 1000px) {
  main #home .row #img3 {
    height: 450px;
  }
}

main #about .row2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

main #about .row2 p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-bottom: 1em;
  width: 80%;
}

@media (min-width: 625px) {
  main #about .row2 p {
    width: 40%;
  }
}

@media (min-width: 1100px) {
  main #about .row2 p {
    width: 20%;
  }
}

main #about .row2 #img4 {
  background: url("/img/img4.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 40%;
  height: 150px;
}

@media (min-width: 625px) {
  main #about .row2 #img4 {
    height: 250px;
    margin-bottom: 1em;
  }
}

@media (min-width: 1100px) {
  main #about .row2 #img4 {
    width: 20%;
    margin-bottom: 0;
  }
}

main #about .row2 #img5 {
  background: url("/img/img5.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 40%;
  height: 150px;
}

@media (min-width: 625px) {
  main #about .row2 #img5 {
    height: 250px;
  }
}

@media (min-width: 1100px) {
  main #about .row2 #img5 {
    width: 20%;
  }
}

main #about #alternatingRow {
  flex-direction: row-reverse;
}

footer li {
  list-style-type: none;
}

footer li ul {
  list-style-type: none;
}
